td {
  height: 100px;
  background-image: url("../images/sprites.png");
}

td.one {
  background-position: -30px -9px ;
  width: 100px;
}
td.two {
  background-position: -295px -12px;
  width: 150px;
}
td.three {
  background-position: -57px -409px;
  width: 50px;
}
td.four {
  background-position: -523px -153px;
  width: 816px;
  background-repeat: no-repeat;
}
td.five {
  background-position: -17px -185px;
  width: 250px;
}